PORT=5000
NODE_ENV=production
MONGO_URI=mongodb+srv://sparknetuser:JPMorgan2024@cluster0.f5x8law.mongodb.net/fraudDetectionDB?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=jpmfrauddetection2024supersecretkey
JWT_EXPIRE=7d
GROQ_API_KEY=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
ML_API_URL=https://your-flask-app.onrender.com